<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<p>
    <a href="/display">Choose Product</a>
</p>
<h1>Your Cart</h1>
<form th:action="@{/update}" th:object="${cart}" method="get">
    <p>Total Items: <span th:text="${cart.countItemInCart()}"></span></p>
    <p>Total Products: <span th:text="${cart.countProductInCart()}"></span></p>
    <table border="1">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Delete</th>
            <th>Amount</th>
        </tr>
        <tr th:each="product: ${cart.products}">
            <td th:text="${product.getKey().name}"></td>
            <td>
                <span th:text="${product.getValue()}"></span>
            </td>
            <td th:text="${product.getKey().cost}"></td>
            <td><a th:href="@{/delete/{id}(id=${product.getKey().getId()})}">Delete</a></td>
            <td>
                <a th:href="@{/add/__${product.getKey().getId()}__(action='show')}">Up</a>
                <a th:href="@{/add/__${product.getKey().getId()}__(action='down')}">Down</a>
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td th:text="${cart.totalCost()}"></td>
        </tr>
    </table>
</form>
</body>
</html>