<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update!!</h1>
<form th:action="@{/save}" method="post" th:object="${customer}">
    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        <lable>Name</lable>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <lable>Phone</lable>
        <input type="text" th:field="*{phone}">
    </div>
    <div>
        <lable>Email</lable>
        <input type="text" th:field="*{email}">
    </div>
    <div>
        <lable>Address</lable>
        <input type="text" th:field="*{address}">
    </div>
    <button type="submit">
        Update
    </button>
</form>
</body>
</html>